{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/exec", 
      {
        "prepareCmd": "pip install wheel", 
        "publishCmd": "python setup.py sdist bdist_wheel"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["dist/*", "CHANGELOG.md"]
      }
    ]
  ]
}
